{% extends "layouts/default.html" %}
{% block content %}
<section>
  <div class="container pt-lg-5">
    <div class="card mt-3 blue">
      <div class="card-body">
        <h6 class="card-title">Reports</h6>
        <p class="card-text">Average load information for 2021.</p>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-lg-5">
    <div class="card blue mt-3">
      <div class="card-body">
        <h6 class="card-title">Service reports</h6>
        <p class="card-text">We are currently working on your personalised service and load reports.</p>
        <p class="lead">Coming soon!</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
